# Автоматическая конвертация для текстовых файлов
* text=auto

# Для Jupyter ноутбуков — всегда LF
*.ipynb text eol=lf

# Для Python — всегда LF
*.py text eol=lf

# Для Markdown — всегда LF
*.md text eol=lf